
<div id="forbidden">

    <h1 id="header">Authorization Failed <br />You shall not pass!</h1>

    <img src="./images/401.png" alt="Error: 401 Forbidden" id="errorPic" class="center-block"/>

    <h3> <a href="/login.php"> Log In </a> </h3>
</div>
