<h1>Authenticate</h1>


<div class="container">

<form method="post" action="/api/userStatus">

    <label>Password
        <input autofocus type="password" name="password" />
    </label>

    <label>Auth Code:
        <input type="password" name="authCode" />
        <abbr title="Code that was emailed to you. If it has not been sent within a few moments, try logging in again">?</abbr>
    </label>

    <input type="submit" class="submit" />

</form>

</div>