<h1>Recover Password</h1>

<div class="container">

<form method="post" action="/api/user">

    <label>Username:
        <input type="text" name="user" required />
    </label>

    <label>Email:
        <input type="email" name="email" required />
    </label>

    <label>Last Auth Code:
        <input type="password" name="lastAuth" />
    <label>


    <input type="submit" class="submit" name="forgotPass" required />

</form>

</div>