<script defer src="/scripts/issue.js"></script>

<div class="container tableContainer">

    <h1 class="contriH1">Issues</h1>
    
    <form method="post" action="">
    
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Views</th>
                    <th>Date Published</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </form>
</div>