<link type="text/css" rel="stylesheet" href="/styles/stormStory.min.css?1.1" />
<script defer src="/scripts/execCommands.min.js"></script>
<script defer src="/scripts/story.js"></script>


<div id="tags">Tag(s): </div>

<article id="story" contextmenu="buttonMenu">

    <section class="storyContainer"></section>
</article>

<div class="break"></div>

<div id="comments">

    <article id="reply" class="comment">

        <span class="commentButtonHolder"><button class="bold" value="bold">bold</button><button class="italic">italic</button><button class="underline">underline</button><button class="strikeThrough">strikeThrough</button><button class="createLink">createLink</button></span>
        <div class="content" contenteditable></div>
        <button class="reply">Reply</button>
    </article>
</div>