


<div class="container">

<h3> Log In </h3>

<form id="loginForm" action="/api/userStatus" method="post" >

    <label> Username:
        <input autofocus name="username" id="username" type="text" placeholder="Username" required/>
    </label>

    <label> Password:
        <input name="password" id="password" type="password" placeholder="Password" required />
    </label>

    <input type="submit" class="submit" value="Log In" />
    <br />

    <a href="forgotPass">Forgot your password?</a>
</form>
</div>
