h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-indent: 1.2em;
    margin: 1em 0;
    padding: 0;
}

table, td, th {
    border-collapse: collapse;
    padding: 3px;
    border: 1px solid black;
}


img {
    display: block;
    margin: 50px auto;
    margin-top: 0;
    max-width: 80%;
    border-radius: 5px;
}